[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0,>=4.2"
gunicorn = "<22.0,>=21.2"
dj-database-url = "<3.0,>=2.0"
whitenoise = {extras = ["brotli"], version = "<7.0,>=6.0"}

[dev-packages]

[requires]
python_version = "3.9"
