{% load static %}

<!DOCTYPE html>
<html>
  <head>
        <title>{% block title %}{% endblock %}</title>

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!--Bootstrap JavaScript-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--Personal CSS-->
        <link type="text/css" href="{% static 'konac/styles.css' %}"/>

        <!--Personal JavaScript-->
        <script href="{% static 'konac/javascript.js' %}"></script>

        <!--Font Awesome-->
        <script src="https://kit.fontawesome.com/a6d473fe20.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>

        <nav id="navBar" class="navbar navbar-light bg-light">

          <a class="navbar-brand" id="konac" href="{% url 'index' %}">
              <h1 class="konac">
                  KONAC
              </h1>
          </a>

          <!-- <input id="vol-control" type="range" min="0" max="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)"></input> -->


          <a class="navbar-brand social-media-icons px-sm-1" href="https://open.spotify.com/artist/6XoPTqzeS9Y6YhHCnSH5bQ">
            <i class="fab fa-spotify faIcons"></i>
          </a>

          <a class="navbar-brand social-media-icons px-sm-1" href="https://music.apple.com/us/artist/konac/1134244077">
          <i class="fa-brands fa-apple faIcons"></i>
          </a>

          <a class="navbar-brand social-media-icons px-sm-1" href="https://twitter.com/konac_">
            <i class="fa-brands fa-x-twitter faIcons"></i>
          </a>

          <a class="navbar-brand social-media-icons px-sm-1" href="https://www.tiktok.com/@konacmusic">
              <i class="fa-brands fa-tiktok faIcons"></i>
          </a>

          <a class="navbar-brand social-media-icons px-sm-1" href="https://www.youtube.com/c/konac">
              <i class="fab fa-youtube faIcons"></i>
          </a>

 

        </nav>

      {% block body %}
      {% endblock %}

      <nav id="lowNav" class="navbar navbar-light bg-light">

        <!-- Terms and Conditions -->
        <div class="bottomText">
          <a class="navbar-brand" href="{% url 'terms' %}">
              <div id="terms">
                Terms & Conditions
              </div>
          </a>
              <div id="contact">
                konac@kon.ac
              </div>
        </div>

      </nav>

  </body>
</html>
